# Dependencies
/node_modules

# Angular build output
/dist
/out-tsc
/.angular

# IDE
/.vscode/*
!/.vscode/settings.json
!/.vscode/tasks.json
!/.vscode/launch.json
!/.vscode/extensions.json
.idea/

# System files
.DS_Store
Thumbs.db

# Env
.env
.env.local

# Logs
*.log
npm-debug.log*

# Testing
/coverage
