@if (variant === "desktop") {
  <div
    class="pointer-events-none absolute top-[-42px] z-10 hidden h-[1145px] w-[480px] overflow-hidden lg:block min-[1440px]:h-[1340px]"
    style="right: max(calc((100vw - 1440px) / 2 + 49px), 49px)"
    aria-hidden="true">
    <img
      src="assets/img/hero/plate-top.webp"
      alt=""
      class="absolute top-0 left-[5px] h-[470px] w-[470px] rounded-full min-[1440px]:hidden" />
    <img
      src="assets/img/hero/plate-middle.webp"
      alt=""
      class="absolute top-[315px] left-[-8px] h-[484px] w-[484px] rounded-full min-[1440px]:hidden" />
    <img
      src="assets/img/hero/plate-bottom.webp"
      alt=""
      class="absolute top-[603.86px] h-[505px] w-[480px] rotate-[0.09deg] rounded-full min-[1440px]:hidden" />
    <img
      src="assets/img/hero/widescreen/Gemüse-Teller.webp"
      alt=""
      class="absolute top-0 left-[5px] hidden h-[484px] w-[484px] rounded-full min-[1440px]:block" />
    <img
      src="assets/img/hero/widescreen/Lachs-Teller.webp"
      alt=""
      class="absolute top-[315px] left-[-8px] hidden h-[484px] w-[484px] rounded-full min-[1440px]:block" />
    <img
      src="assets/img/hero/widescreen/Stake-Teller.webp"
      alt=""
      class="absolute top-[603.86px] left-0 hidden h-[484px] w-[484px] rounded-full min-[1440px]:block" />
    <img
      src="assets/img/hero/widescreen/Hähnchen-Teller.webp"
      alt=""
      class="absolute top-[903.86px] left-[-8px] hidden h-[484px] w-[484px] rounded-full min-[1440px]:block" />
    <img
      src="assets/img/hero/widescreen/Baguette-Teller.webp"
      alt=""
      class="absolute top-[1105px] left-[5px] hidden h-[484px] w-[484px] rounded-full min-[1440px]:block" />
  </div>
} @else {
  <div class="flex justify-center px-4 pb-16 lg:hidden" aria-hidden="true">
    <div class="relative h-[180px] w-full max-w-[560px] sm:h-[220px]">
      <img
        src="assets/img/hero/plate-top.webp"
        alt=""
        class="absolute top-0 left-[4%] h-[150px] w-[150px] rounded-full sm:h-[200px] sm:w-[200px]" />
      <img
        src="assets/img/hero/plate-middle.webp"
        alt=""
        class="absolute top-[10px] left-[32%] h-[155px] w-[155px] rounded-full sm:h-[205px] sm:w-[205px]" />
      <img
        src="assets/img/hero/plate-bottom.webp"
        alt=""
        class="absolute top-0 left-[60%] h-[155px] w-[152px] rotate-[18.91deg] rounded-full sm:h-[210px] sm:w-[205px]" />
    </div>
  </div>
}
